* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 1.5em 1.5em 0;
  font-size: 16px;
  line-height: 1.5;
  background: #f9fbff;
}

a {
  font-size: 1.3rem;
}

button {
  border: none;
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3.5em;
  color: inherit;
}

.header svg {
  width: 3em;
  cursor: pointer;
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-wrapper a {
  color: black;
  font-family: 'Iceland';
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 2.7rem;
}

.nav {
  position: fixed;
  right: 0;
  top: 0;
  background: #2b2b2b;
  height: 100vh;
  width: 50%;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.nav ul {
  margin-top: 8em;
}

.nav a {
  background: #2b2b2b;
  color: #fafafa;
  display: block;
  padding: 0.75em 2em;
}

.nav a:hover {
  background: #171717;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav a:active {
  background: black;
}

.nav .nav-btn {
  background: #fed916;
  color: black;
}

.nav .nav-btn:hover {
  background: #eac501;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav .nav-btn:active {
  background: #947c01;
}

.nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

.nav .close path {
  fill: #fafafa;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

/* Hero */
.hero-content-left h1 {
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
}

.hero-content-left .subtitle {
  font-size: 1.4rem;
  font-weight: 600;
}

.hero-content-left .lead {
  color: #727272;
  opacity: 0.8;
  font-size: 1.2rem;
}

.hero-content-left form {
  width: 100%;
}

.hero-content-left form input {
  font-size: 1.1rem;
  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
  border: none;
  -webkit-filter: drop-shadow(6px 8px 16px rgba(0, 0, 0, 0.08));
          filter: drop-shadow(6px 8px 16px rgba(0, 0, 0, 0.08));
}

.hero-content-left form input::-webkit-input-placeholder {
  color: #b8b8b8;
  opacity: 0.5;
}

.hero-content-left form input:-ms-input-placeholder {
  color: #b8b8b8;
  opacity: 0.5;
}

.hero-content-left form input::-ms-input-placeholder {
  color: #b8b8b8;
  opacity: 0.5;
}

.hero-content-left form input::placeholder {
  color: #b8b8b8;
  opacity: 0.5;
}

.hero-content-left form button {
  background: #9ad27d;
  color: #fafafa;
  font-size: 1.1rem;
  width: 100%;
  padding: 1em;
  text-transform: uppercase;
}

.hero-content-left form button:hover {
  background: #82c85f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero-content-left form button:active {
  background: #589a35;
}

.hero-img,
.hero-blur,
.ellipse,
.icon-outer-circle {
  display: none;
}

.hero-companies {
  position: absolute;
  bottom: 0;
  left: 1.5em;
  right: 1.5em;
  text-align: center;
}

.hero-companies p {
  color: #b8b8b8;
  font-size: 1.2rem;
  font-weight: 600;
}

.hero-companies p span {
  color: #9ad27d;
}

.companies-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fed916;
  border-radius: 1.5em 1.5em 0 0;
}

.companies-wrapper svg {
  width: 33%;
}

/* Media queries */
@media only screen and (min-width: 640px) {
  body,
  .hero-companies {
    margin: 1.5em 5em 0;
  }
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  .nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    background: none;
    height: auto;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4.5em;
    margin: 0;
  }
  .nav a {
    color: black;
    padding: 0;
    background: none;
  }
  .nav a:hover {
    background: none;
    text-decoration: underline;
  }
  .nav .nav-btn {
    padding: 0.7em 1.1em;
    background: #fed916;
  }
  .nav .nav-btn:hover {
    background: #eac501;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav .nav-btn:active {
    background: #947c01;
  }
  .nav .nav-btn:hover {
    text-decoration: none;
  }
  .nav .close {
    display: none;
  }
  .hero-content-left {
    width: 41%;
  }
  .hero-content-left h1 {
    font-size: 5.5rem;
    line-height: 6.65rem;
    letter-spacing: 0.02em;
    margin-top: 1.5em;
    margin-bottom: 0.4em;
  }
  .hero-content-left .subtitle {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .hero-content-left .lead {
    font-size: 1.625rem;
    line-height: 2rem;
  }
  .hero-content-left form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-filter: drop-shadow(6px 8px 16px rgba(0, 0, 0, 0.08));
            filter: drop-shadow(6px 8px 16px rgba(0, 0, 0, 0.08));
  }
  .hero-content-left form input {
    padding: 1em;
    font-size: 1.5rem;
    margin: 0;
    -webkit-filter: none;
            filter: none;
  }
  .hero-content-left form button {
    font-size: 2rem;
    line-height: 2.3rem;
    padding: 1em;
    width: auto;
  }
  .hero-img {
    display: block;
    position: absolute;
    top: 5.25em;
    right: 5.4em;
    background: no-repeat url("../assets/teenage-black-boy-png-transparent-png.png");
    background-size: contain;
    width: 43.25em;
    height: 50em;
    z-index: -1;
  }
  .hero-blur {
    display: block;
    position: absolute;
    z-index: -1;
    top: 46.45em;
    right: 4.6em;
    width: 49em;
    padding: 2.1em 13.1em 4em;
    text-align: center;
    background: radial-gradient(100% 100% at 0% 0%, rgba(249, 251, 255, 0.4) 0%, rgba(249, 251, 255, 0) 100%);
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    -webkit-box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
            box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
    -webkit-backdrop-filter: blur(1.1em);
            backdrop-filter: blur(1.1em);
    /* Note: backdrop-filter has minimal browser support */
  }
  .hero-blur p {
    margin: 0;
    color: #ffffff;
    font-size: 1.625rem;
    line-height: 2rem;
    letter-spacing: 0.05em;
  }
  .hero-blur p span {
    color: #fed916;
  }
  .ellipse {
    display: block;
    position: absolute;
    width: 28em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: -22;
  }
  .ellipse-top {
    top: 11em;
    right: 22.4em;
    background: #fbe3b2;
  }
  .ellipse-bot {
    top: 25em;
    right: 6.4em;
    background: #d2f8ff;
  }
  /* Icons start */
  .icon-outer-circle {
    display: block;
    width: 4.5em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ffffff;
    -webkit-filter: drop-shadow(5px 6px 12px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(5px 6px 12px rgba(0, 0, 0, 0.1));
    z-index: -11;
  }
  .icon-outer-circle svg {
    width: 2.1em;
    height: auto;
  }
  .ae {
    top: 10.75em;
    right: 45.8em;
  }
  .ps {
    top: 26em;
    right: 47.55em;
  }
  .ai {
    top: 17.45em;
    right: 15.4em;
  }
  .xd {
    top: 31.05em;
    right: 5.45em;
  }
  /* Icons end */
  .hero-companies {
    position: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10.7em auto 0;
  }
  .hero-companies p {
    font-size: 2rem;
  }
  .companies-wrapper {
    padding: 2em 5em 1em;
  }
  .companies-wrapper svg {
    height: 4em;
    width: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: calc(100vw - 15em);
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */